.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 12px 64px 12px 16px;
  background-color: #e5ecf7;
  font-weight: 700;
  text-align: left;
}
.modal > section > header button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 20px 25px 16px 25px;
  border-top: 1px solid #dee2e6;
  text-align: left;
}
.modal > section > footer {
  padding: 15px 16px;
  text-align: center;
}
.modal > section > footer button {
  padding: 5px 10px;
  background-color: #ffffff;
  border: 2px solid rgba(122, 119, 134, 0.5);
  border-radius: 9px;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: -10px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
