body{
  background: -webkit-linear-gradient( #F2F5FA, #ffffff);
  background: -moz-linear-gradient(#F2F5FA, #ffffff);
  background: -o-linear-gradient(#F2F5FA, #ffffff);
  background: linear-gradient(#F2F5FA, #ffffff);
}